.project {
    height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.project__container {
    margin: auto;
    padding: 5vh;
    border-radius: 5px;
    border: 1px solid lightgray;
}

.project__container > h1{
    font-size:5vw;
}